<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>그린다62</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="/css/faq_style.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/member_styles.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
</head>
<body>
<!-- Responsive navbar-->
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border: 1px solid #000">
    <div class="container px-4 px-lg-5">
        <a href="/admin" ><img src="/images/로고사진.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/admin">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/productCheck">상품조회</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/productInsert">상품등록</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/boardCheck">게시판관리</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/memberCTR">회원관리</a></li>
            </ul>
            &nbsp;
        </div>
    </div>
</nav>

<section class="table" th:each="board : ${boards}">
    <!-- board list area -->
    <form class="container" action="/admin/addComment" method="post">
        <div class="mb-3">
            <label class="form-Label">작성자</label>
            <input type="text" class="form-control" name="member" th:value="${board.member.id}" readonly>
        </div>
        <div class="mb-3">
            <label class="form-Label">제목</label>
            <input type="text" class="form-control" name="boardTitle" th:value="${board.boardTitle}" readonly>
        </div>
        <div class="mb-3">
            <label class="form-label">내용</label>
            <textarea class="form-control" rows="3" name="boardText" th:text="${board.boardText}" readonly></textarea>
        </div>
        <br>
        <div class="mb-3">
            <label class="form-label">관리자 답글</label>
            <textarea class="form-control" rows="3" name="adminComment" th:text="${board.adminComment}"></textarea>
        </div>
        <input type="hidden" name="boardId" th:value="${board.board_id}" />
        <button type="submit" class="btn btn-primary">답글달기</button>
        <button type="button" class="btn btn-primary" onclick="window.location.href='/adminFaq'">목록보기</button>
    </form>

</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>