<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>그린다62</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="border: 1px solid #000">
            <div class="container px-4 px-lg-5">
                <a href="/admin" ><img src="/uploads/로고사진.png"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/admin/productCheck">상품조회</a></li>
                        <li class="nav-item"><a class="nav-link" href="/admin/productInsert">상품등록</a></li>
                        <li class="nav-item"><a class="nav-link" href="/admin/boardCheck">게시판관리</a></li>
                        <li class="nav-item"><a class="nav-link" href="/admin/memberCTR">회원관리</a></li>
                    </ul>
                    &nbsp;
                </div>
            </div>
        </nav>
        <!-- Section-->
        <h2>관리자 페이지 입니다.</h2>
        <p>◼ 관리자 페이지 사용 가이드 ◼</p>
        <p>1. 상품조회를 들어가면 현재 쇼핑몰에 있는 모든 상품을 볼 수 있습니다.</p>
        <p>2. 상품조회에서 상품번호를 누르면 상품의 내용을 수정할 수 있습니다.</p>
        <p>3. 상품등록에 들어가면 상품을 추가 할 수 있습니다.</p>
        <p>4. 게시판관리에 들어가면 AS문의글을 쓴 목록이 보이고, 글을 누르면 답글을 달 수 있습니다.</p>
        <p>5. 회원관리에 들어가면 현재 회원가입된 회원을 볼 수 있습니다.</p>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Project &copy; greenda62 shopping mall 2024</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
        <script> /*관리자가 로그인 했을때만 관리자 페이지로 넘어오도록 구현*/
            function alertNotAdmin() {
                alert("관리자만 접근 가능합니다.");
                window.location.href = '/'; // 홈 페이지로 리다이렉트, 필요에 따라 목적지 변경 가능
            }

            window.onload = function() {
                // 사용자의 권한을 체크하는 로직
                var isAdmin = [[${isAdmin}]]; // 예시로, 실제 구현에서는 서버에서 이 값을 가져와야 합니다.

                if (!isAdmin) {
                    alertNotAdmin();
                }
            }
        </script>
    </body>
</html>
