<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>그린다62</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="/css/faq_style.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/member_styles.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
</head>
<body>
<!-- Responsive navbar-->
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border: 1px solid #000">
    <div class="container px-4 px-lg-5">
        <a href="/admin" ><img src="/images/로고사진.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/admin">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/productcheck">상품조회</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/productInsert">상품등록</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/productupdate">상품수정</a></li>
                <li class="nav-item"><a class="nav-link" href="#">게시판관리</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/memberCTR">회원관리</a></li>
            </ul>

            &nbsp;
        </div>
    </div>
</nav>

<section class="notice">
    <div class="page-title">
        <div class="container">
            <h3>회원 관리</h3>
        </div>
    </div>

    <!-- board seach area -->
    <div id="board-search">
        <div class="container">
            <div class="search-window">
                <form action="">
                    <div class="search-wrap">
                        <label for="search" class="blind">회원 검색</label>
                        <input id="search" type="search" name="" placeholder="검색어를 입력해주세요." value="">
                        <button type="submit" class="btn btn-dark">검색</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- board list area -->
    <div id="board-list">
        <div class="container">
            <table class="board-table">
                <thead>
                <tr>
                    <th scope="col" class="th-num">번호</th>
                    <th scope="col" class="th-num">아이디</th>
                    <th scope="col" class="th-title">주소</th>
                    <th scope="col" class="th-date">이름</th>
                    <th scope="col" class="th-date">이메일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="member, stat : ${members}">
                    <td th:text="${stat.count}"></td>
                    <td th:text="${member.maskedMemberId}"></td>
                    <td th:text="${member.address}"></td>
                    <td th:text="${member.name}"></td>
                    <td th:text="${member.email}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>