<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>그린다62</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="/css/faq_style.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/member_styles.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border: 1px solid #000">
    <div class="container px-4 px-lg-5">
        <a href="/admin" ><img src="/images/로고사진.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/admin">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/productCheck">상품조회</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/productInsert">상품등록</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/boardCheck">게시판관리</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/memberCTR">회원관리</a></li>
            </ul>

            &nbsp;
        </div>
    </div>
</nav>
<!--<section class="notice">-->

    <div>
        <form action="/admin/productUpdate" id="productForm" method="post" enctype="multipart/form-data">
            <table class="table table-bordered" style="width: 600px;">
                <h3>상품수정 및 삭제</h3>
                <br>
                <tr>
                    <td style="width: 150px; background-color: #d2c9ff;">상품번호</td>
                    <td><input type="text" name="serialNumber" class="form-control" style="width: 200px;" required="required" th:value="${product.serialNumber}" readonly> </td>
                </tr>
                <tr>
                    <td style="width: 150px; background-color: #d2c9ff;">상품명</td>
                    <td><input type="text" name="productName" class="form-control" style="width: 200px;" required="required" th:value="${product.productName}"> </td>
                </tr>
                <tr>
                    <td style="width: 150px; background-color: #d2c9ff;">상품설명</td>
                    <td><input type="text" name="productDescription" class="form-control" style="width: 200px;" required="required" th:value="${product.productDescription}"> </td>
                </tr>
                <tr>
                    <td style="width: 150px; background-color: #d2c9ff;">상품사이즈</td>
                    <td><input type="text" name="productSize" class="form-control" style="width: 200px;" required="required" th:value="${product.productSize}"> </td>
                </tr>
                <tr>
                    <td style="width: 150px; background-color: #d2c9ff;">상품가격</td>
                    <td><input type="text" name="productPrice" class="form-control" style="width: 200px;" required="required" th:value="${product.productPrice}"> </td>
                </tr>
                <tr>
                    <td style="width: 150px; background-color: #d2c9ff;">상품이미지</td>
                    <td class="col-md-6"><img class="card-img-top mb-5 mb-md-0" th:src="@{'/uploads/' + ${product.photoFileName}}" alt="Product Image" /></td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <button type="submit" class="btn btn-info" name="action" value="update" onclick="submitForm2('update')" style="width: 100px;">상품수정</button>
                        <button type="submit" class="btn btn-info" name="action" value="delete" onclick="submitForm2('delete')" style="width: 100px;">상품삭제</button>
                        <button type="button" class="btn btn-info" style="width: 100px;" onclick="location.href='/admin/productCheck'">돌아가기</button>

                    </td>
                </tr>
            </table>
        </form>
    </div>


</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Project &copy; greenda62 shopping mall 2024</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
</body>
</html>