<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>그린다62</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border: 1px solid #000">
    <div class="container px-4 px-lg-5">
        <a href="/" ><img src="/uploads/로고사진.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/allproduct">모든상품</a></li>
                <li class="nav-item"><a class="nav-link" href="/pot">화분</a></li>
                <li class="nav-item"><a class="nav-link" href="/succulent">다육이</a></li>
                <li class="nav-item"><a class="nav-link" href="/set">다육이&화분Set</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/faq">고객문의</a></li>
                <li class="nav-item"><a class="nav-link" th:if="${session.id == null}" href="/member">로그인</a></li>
                <li class="nav-item"><a class="nav-link" th:if="${session.id != null}" href="/logout">로그아웃</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link nav-link dropdown-toggle" id="navbarDropdown" href="/modify" role="button" data-bs-toggle="dropdown" aria-expanded="false">마이페이지</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/modify">회원정보</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="/membership">멤버쉽</a></li>
                        <li><a class="dropdown-item" href="/delivery">배송조회</a></li>
                        <li><a class="dropdown-item" href="/return_change_cen">반품/교환/취소</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" action="/cart">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    장바구니
                </button>
            </form>
            &nbsp;
            <form action="/search" class="search-container">
                <input type="text" id="search-field" class="search-input" name="keyword" placeholder="검색...">
                <button class="search-button">검색</button>
                <div class="icon-close" onclick="clearSearchField()">✖</div>
            </form>
        </div>
    </div>
</nav>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }
    .delivery-container {
        width: 80%;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    h1 {
        /*배송조회 위치 센터*/
        text-align: center;
        color: #333;
    }
    table {
        /*표 센터로*/
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    table, th, td {
        /*표를 선으로 갈라주는거*/
        border: 1px solid #ccc;
    }
    th, td {
        padding: 10px;
        text-align: left;
    }
    th {
        background-color: #f8f8f8;
    }


</style>

<div class="delivery-container">
    <h1>배송조회</h1>
    <table>
        <thead>
        <tr>
            <th>주문 번호</th>
            <th>상품 번호</th>
            <th>상품명</th>
            <th>수량</th>
            <th>가격</th>
            <th>주문 날짜</th>
            <th>상태</th>

        </tr>

        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.getPaymentId()}">주문번호</td>
            <td th:text="${order.serialNumber}">상품번호</td>
            <td th:text="${order.productName}">상품명</td>
            <td th:text="${order.quantity}">수량</td>
            <td th:text="${order.amount}">가격</td>
            <td th:text="${order.paymentDate != null ? #temporals.format(order.paymentDate, 'yyyy-MM-dd') : ''}">주문날짜</td>
            <td>배송 완료</td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>


