:root {
  --red: #EF6161;
  --green: #7ac142;
}

.login-page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
}

.login-content {
  width: 500px;
  padding: 40px;
  height: 600px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
  position: absolute;
  background: #FFF;
  box-shadow: 0 0px 70px rgba(0, 0, 0, 0.1);
  border-top: 5px solid var(--green);
  float: left;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  transition-delay: 0.2s;
}

.login-content.login-content-signin.ng-hide:not(.ng-hide-animate),
.login-content.login-content-signup.ng-hide:not(.ng-hide-animate) {
  transition-delay: 0s;
  display: block!important;
  opacity: 0;
  z-index: -1;
  -webkit-transform: translate(-45%, -50%);
  transform: translate(-45%, -50%);
}

h2 {
  text-align: left;
  color: var(--green);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

form.wrapper-box {
  margin-top: 40px;
}

form.wrapper-box input {
  margin-top: 5px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
  padding-left: 0;
  box-shadow: none;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

form.wrapper-box input:valid {
  border-bottom: 1px solid var(--green);
}

form.wrapper-box input:focus:invalid {
  border-bottom: 1px solid var(--red);
}

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

:-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

form.wrapper-box button {
  display: inline-block;
  margin-top: 5px;
  margin-left: 10px;
  border: 2px solid var(--green);
  background: var(--green);
  border-radius: 25px;
  padding: 3px 12px 5px 12px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0px;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

form.wrapper-box button:hover {
  color: var(--green);
  background: #fff;
  border: 2px solid var(--green);
}

form.wrapper-box button:active {
  box-shadow: none;
}

.outer-link {
  display: inline-block;
  margin-top: 50px;
  padding: 5px 0;
  display: block;
  color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.outer-link:hover {
  -webkit-transition: all 0s ease-out;
  transition: all 0s ease-out;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

.login-content-signin > div,
.login-content-signup > div {
  overflow: hidden;
  top: 50%;
  position: relative;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.login-content-signin {
  margin-left: -130px;
}

.login-content-signup {
  margin-left: 130px;
}

.login-switcher {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 660px;
  height: 400px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.03);
}

.login-switcher > div {
  width: 40%;
  margin-top: 125px;
}

.login-switcher > div.login-switcher-signin {
  float: left;
}

.login-switcher > div.login-switcher-signup {
  float: right;
}

.login-switcher > div h3 {
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 14px;
}

.login-switcher > div button {
  display: block;
  margin: 20px auto 0 auto;
  outline: 0;
  background: none;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-size: 14px;
  padding: 4px 12px 5px 12px;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.login-switcher > div button:hover {
  border: 2px solid var(--green) !important;
  color: rgba(0, 0, 0, 0.8);
}

.login-switcher-signin,
.login-switcher-signup {
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.login-switcher-signin.ng-hide:not(.ng-hide-animate),
.login-switcher-signup.ng-hide:not(.ng-hide-animate) {
  display: block!important;
  opacity: 0;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}

.signuperror-msg {
  color: red;
}

.loginerror-msg {
  color: red;
}

.forgotsuccess-msg {
  color: #7ac142;
}

.back-button {
  position: absolute;
  top: 35px; /* 버튼의 상단 마진 조정 */
  left: 35px; /* 버튼의 좌측 마진 조정 */
  max-width: 100%;
  height: auto;
}
