<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>그린다62</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/member_styles.css" rel="stylesheet" />
</head>
<body>
<!-- Responsive navbar-->
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border: 1px solid #000">
    <div class="container px-4 px-lg-5">
        <a href="/" ><img src="/images/로고사진2.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/allproduct">모든상품</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">화분</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">다육이</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">다육이&화분Set</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="#">고객문의</a></li>
                <li class="nav-item"><a class="nav-link" href="/member">로그인</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">마이페이지</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">회원정보</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">멤버쉽</a></li>
                        <li><a class="dropdown-item" href="#!">배송조회</a></li>
                        <li><a class="dropdown-item" href="#!">반품/교환/취소</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    장바구니
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
            &nbsp;
            <div class="search-container">
                <input type="text" id="search-field" class="search-input" placeholder="검색...">
                <button class="search-button">검색</button>
                <div class="icon-close" onclick="clearSearchField()">✖</div>
            </div>
        </div>
    </div>
</nav>
<div class="login-content login-content-signin" ng-hide="showSignIn">
    <img src="/images/뒤로가기버튼.png" class="back-button" alt="뒤로 가기" style="cursor:pointer;" onclick="history.back();">
    <div>
        <h2>아이디 찾기</h2>
        <div th:if="${forgoterror}" th:text="${forgoterror}"></div>
        <form action="/forgot" method="post" class="wrapper-box" role="form" ng-submit="login()">
            <input type="text"
                   name="name"
                   class="form-control form-control-username"
                   placeholder="이름을 입력하세요"
                   required >
            <br>
            <input type="email"
                   name="email"
                   class="form-control form-control-email"
                   placeholder="이메일을 입력하세요"
                   required >
            <br>
            <button type="submit" class="btn btn-submit btn-default pull-right">아이디 찾기</button>
        </form>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
</body>
</html>