<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>그린다62</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <!-- Include any necessary CSS files -->
    <link rel="stylesheet" href="/css/member_styles.css">
    <!-- Include AngularJS library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
<div class="login-page" ng-app="">

    <div class="login-content login-content-signin" ng-hide="showSignIn">
        <div>
            <h2>로그인</h2>
            <form class="wrapper-box" role="form" ng-submit="login()">
                <input type="email"
                       ng-model="email"
                       class="form-control form-control-email"
                       placeholder="아이디를 입력하세요"
                       required>
                <br>
                <input type="password"
                       ng-model="password"
                       class="form-control form-control-password"
                       placeholder="비밀번호를 입력하세요"
                       required >
                <!-- <div class="checkbox pull-left">
                  <label>
                    <input type="checkbox"> Remember me.
                  </label>
                </div> -->
                <a class="outer-link pull-left" href="#/forgot">아이디 찾기</a>
                <button type="submit" class="btn btn-submit btn-default pull-right">로그인</button>
            </form>
        </div>
    </div>

    <div class="login-content login-content-signup ng-hide" ng-show="showSignIn">
        <div>
            <h2>회원가입</h2>
            <form action="/member" method="post" class="wrapper-box" role="form" ng-submit="register()">
                <input type="text"
                       name="id"
                       class="form-control form-control-username"
                       placeholder="아이디를 입력하세요"
                       required >
                <br>
                <input type="password"
                       name="password"
                       class="form-control form-control-password"
                       placeholder="비밀번호를 입력하세요(8~20자)"
                       required >
                <br>
                <input type="password"
                       name="password"
                       class="form-control form-control-password"
                       placeholder="비밀번호를 입력하세요(8~20자)"
                       required >
                <br>
                <input type="text"
                       name="name"
                       class="form-control form-control-username"
                       placeholder="이름을 입력하세요"
                       required >
                <br>
                <input type="email"
                       name="email"
                       class="form-control form-control-email"
                       placeholder="이메일을 입력하세요"
                       required >
                <br>
                <input type="text"
                       name="address"
                       class="form-control form-control-email"
                       placeholder="주소를 입력하세요"
                       required >
                <br>
                <!-- <div class="checkbox pull-left">
                  <label>
                    <input type="checkbox"> Remember me.
                  </label>
                </div> -->
                <button type="submit" class="btn btn-submit btn-default pull-right">회원가입</button>
            </form>
        </div>
    </div>

    <div class="login-switcher">
        <div class="login-switcher-signin" ng-show="showSignIn">
            <h3>회원이십니까?</h3>
            <button ng-click="showSignIn=false">로그인</button>
        </div>
        <div class="login-switcher-signup" ng-hide="showSignIn">
            <h3>회원이 아니십니까?</h3>
            <button ng-click="showSignIn=true">회원가입</button>
        </div>
    </div>

</div>

</body>
</html>
