<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>그린다62</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <!-- Include any necessary CSS files -->
    <link href="/css/member_styles.css" rel="stylesheet"/>
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Include AngularJS library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/member_scripts.js"></script>
    <script src="/js/scripts.js"></script>
</head>
<body>
    <div class="login-page" ng-app="">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="border: 1px solid #000">
            <div class="container px-4 px-lg-5">
                <a href="/" ><img src="/images/로고사진.png"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/allproduct">모든상품</a></li>
                        <li class="nav-item"><a class="nav-link" href="/pot">화분</a></li>
                        <li class="nav-item"><a class="nav-link" href="/succulent">다육이</a></li>
                        <li class="nav-item"><a class="nav-link" href="/set">다육이&화분Set</a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="/faq">고객문의</a></li>
                        <li class="nav-item"><a class="nav-link" th:if="${session.id == null}"href="/member">로그인</a></li>
                        <li class="nav-item"><a class="nav-link" th:if="${session.id != null}"href="/logout">로그아웃</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">마이페이지</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/modify">회원정보</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">멤버쉽</a></li>
                                <li><a class="dropdown-item" href="#!">배송조회</a></li>
                                <li><a class="dropdown-item" href="#!">반품/교환/취소</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            장바구니
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>
                    </form>
                    &nbsp;
                    <div class="search-container">
                        <input type="text" id="search-field" class="search-input" placeholder="검색...">
                        <button class="search-button">검색</button>
                        <div class="icon-close" onclick="clearSearchField()">✖</div>
                    </div>
                </div>
            </div>
        </nav>
    <div class="login-content login-content-signin" ng-hide="showSignIn">
        <img src="/images/뒤로가기버튼.png" class="back-button" alt="뒤로 가기" style="cursor:pointer;" onclick="window.location.href='/';">
        <div>
            <h2>로그인</h2>
            <form action="/login" method="post" class="wrapper-box" role="form" ng-submit="login()">
                <div th:if="${forgotsuccess}" th:class="forgotsuccess-msg" th:text="${forgotsuccess}"></div>
                <div th:if="${signUpError}" th:class="signuperror-msg" th:text="${signUpError}"></div>
                <div th:if="${loginError}" th:class="loginerror-msg" th:text="${loginError}"></div>
                <div th:if="${deleteSuccess}" th:class="deleteSuccess-msg" th:text="${deleteSuccess}"></div>
                <input type="text"
                       name="id"
                       class="form-control form-control-id"
                       placeholder="아이디를 입력하세요"
                       required>
                <br>
                <input type="password"
                       name="password"
                       class="form-control form-control-password"
                       placeholder="비밀번호를 입력하세요"
                       required >
                <a class="outer-link pull-left" href="/forgot">아이디 찾기</a>
                <button type="submit" class="btn btn-submit btn-default pull-right">로그인</button>
            </form>
        </div>
    </div>

    <div class="login-content login-content-signup ng-hide" ng-show="showSignIn">
        <div>
            <h2>회원가입</h2>
            <form action="/member" method="post" class="wrapper-box" role="form" ng-submit="register()">
                <input type="text"
                       name="id"
                       id="id"
                       class="form-control form-control-id"
                       placeholder="아이디를 입력하세요"
                       required >
                <button type="button" class="btn btn-default" onclick="checkId()">중복확인</button> <!-- 중복 확인 버튼 추가 -->
                <span id="idCheckResult"></span> <!-- 중복 확인 결과를 표시할 요소 추가 -->
                <br>
                <input type="password"
                       name="password"
                       class="form-control form-control-password"
                       id="pw1" oninput="pwCheck()"
                       placeholder="비밀번호를 입력하세요(8~20자)"
                       required >
                <br>
                <input type="password"
                       name="again_password"
                       class="form-control form-control-again-password"
                       id="pw2" oninput="pwCheck()"
                       placeholder="비밀번호 확인"
                       required >
                <span id="pwConfirm"></span>
                <br>
                <input type="text"
                       name="name"
                       class="form-control form-control-username"
                       placeholder="이름을 입력하세요"
                       required >
                <br>
                <input type="email"
                       name="email"
                       class="form-control form-control-email"
                       placeholder="이메일을 입력하세요"
                       required >
                <br>
                <input type="text"
                       name="address"
                       class="form-control form-control-email"
                       placeholder="주소를 입력하세요"
                       required >
                <br>
                <button type="submit" class="btn btn-submit btn-default pull-right">회원가입</button>
            </form>
        </div>
    </div>

    <div class="login-switcher">
        <div class="login-switcher-signin" ng-show="showSignIn">
            <h3>회원이십니까?</h3>
            <button ng-click="showSignIn=false">로그인</button>
        </div>
        <div class="login-switcher-signup" ng-hide="showSignIn">
            <h3>회원이 아니십니까?</h3>
            <button ng-click="showSignIn=true">회원가입</button>
        </div>
    </div>

</div>

</body>
</html>
